html, body, hr, h1, h2, h3, h4, ul, ol, li, p, a {
    padding: 0;
    border: 0;
    margin: 0;
}
body{
	font-family : 'Roboto', sans-serif;
	width: 100%;
	display : flex;
	flex-flow: column nowrap;
	line-height : 1.5;
}
h1, header h2, nav a {
	font-family : 'Dosis', sans-serif;
}
h1{
	color : #009874;
	margin : 15px 0 25px 0;
}
hr {
	border: solid #009874 2px;
	width : 10%;
	border-radius: 5em;
	margin : 0 0 1em 0.8em;
	
}

/* Footer */ 
footer{
	padding : 30px 80px 10px 40px;
	display: flex;
	flex-direction : row;
	justify-content : space-between;
	color: #808080;
}
footer ul{
	list-style-type: none;
	display : inline;
}


/* Navigation */
nav{
	display : flex;
	justify-content : space-between;
	align-items: center;
	position : absolute;
	top : 0;
	width : 100%;
}
nav ul{
	display : flex;
	padding : 0 5px;
	list-style-type: none;
	font-size : 18px;
}
nav ul li {
	padding : 0 25px;

}
nav ul li:last-child{
	padding-right : 70px;
}

nav img{
	margin : 17px;
	height : 60px;
	padding-left : 80px;
}
nav a{
	color : #808080;
	text-decoration : none;
}
/* Header */
header{
	height : 706px;
	display : flex;
	flex-direction: column;
	justify-content : space-around;
	align-items : center;
}
header h1{
	padding-top : 1em;
	font-size: 7em;
}
header .button{
	color : white;
	background-color: #007581;
	padding : 1.2em 1.5em;
	border-radius: 2.5em;
	text-decoration : none;
	margin-bottom : 3em;
}



section{
	width: 100%;
	
}
section h1{
	font-size : 2.5em;
	text-align : center;
}
/* Section about */

section .intro{
	padding : 3em 2em 3em 2em;
	background-color : #efefef;
	text-align: center;
}

section .intro p{
	font-family: 'Dosis', sans-serif;
	font-size: 1.5em;
	padding: 1em 3em;
}
section .about-element{
	display: flex;
	flex-wrap : wrap;
	justify-content: space-around;
	margin : 3em 0;
	padding : 2em 0;
	visibility : hidden;
}
section .about-element:nth-child(even){
	flex-direction: row-reverse;
}
section .about-element.in-view:nth-child(even) article, section .about-element.in-view:nth-child(odd) aside{
	animation : slideInRight 1.5s 0s 1;
	visibility: visible;
}
section .about-element.in-view:nth-child(odd) article, section .about-element.in-view:nth-child(even) aside{
	animation : slideInLeft 1.5s 0s 1;
	visibility : visible;
}


section .about-element:nth-child(odd){
	background-color : #eeeeee;
}
section .about-element article h2{
	color : #009874;
	padding : 1em 0 1em 0;
}
section .about-element article{
	width : 50%;
}
section .about-element article p{
	font-weight: lighter;
	padding-right: 2.5em;
	line-height: 2;
}
section .about-element aside{
	width : 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}
section .about-element aside img{
	height : 100%;
	width : auto;
	max-height : 300px;
}

/* Section Fields */

#fields .appli-container{
	display : flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
#fields .appli{
	width : 260px;
	box-shadow: 0.5em 0.8em 0.8em #ebebeb;
	border-radius: 0.3em;
	background-color : orange;
	color : white;
	padding: 1em 1.2em;
	margin : 1em 0.5em;
	line-height : 1.5;
	visibility : hidden;
	opacity: 0;
}
#fields .appli h2{
	padding-bottom: 1em;
}
#fields .appli-title{
	display: flex;
	flex-flow: row nowrap;
	font: 1.5em 'Dosis';
}
#fields .appli-title i{
	font-size : 2em;
	padding : 0 0.7em 0 0.2em;
}
#fields .appli ul{
	padding-left: 1em;
}
#fields .appli.in-view{
	visibility : visible;
	opacity : 1;
}
#fields .appli.in-view:nth-child(1){
	animation : slideInUp 1.5s 0s 1;
}
#fields .appli.in-view:nth-child(2){
	animation : slideInUp 1.5s 0s 1 ease-out;
}
#fields .appli.in-view:nth-child(3){
	animation : slideInUp 1.8s 0s 1 ease-out;
}
#fields .appli.in-view:nth-child(4){
	animation : slideInUp 2.1s 0s 1 ease-out;
}

#fields footer{
	padding : 3em 2em 2em 1em;
	color : #009874;
	font : 1.5em 'Dosis';
}
#fields footer a{
	color : #004A39;
	text-decoration: none;
}

/* Section Contact */
#contact {
	background-color: #fafafa;
}
#contact form{
	width : 60%;
	margin : 1em auto;
	display: flex;
	flex-flow: column nowrap;
}
#contact form fieldset, #contact form input{
	margin: 1em 0;
	line-height: 2;
	border : none;
}

#contact form fieldset{
	margin: 0;
	padding : 0;
}
#contact form fieldset input{
	width:49%;
	margin: 0 3px 0 0;
}
#contact form fieldset input:nth-child(2){
	margin-right: 0;
}
#contact form input, #contact form textarea{
	border : 1px solid #aaaaaa;
	border-radius : 0.3em;
	font-size: 18px;
}
input[type="submit"]{
	width : 35%;
	margin : 0 auto;
	background-color: #007581;
	font-family: 'Dosis', sans-serif;
	font-size : 2em;
	color : white;
	line-height : 1;
	border : 1px solid #009874;
	border-radius: 2.5em;
}

#footer{
	background-color: #aaaaaa;
	padding : 3em 1.8em 1em 1.8em;
}

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
   	visibility: hidden;
   	opacity : 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility : visible;
    opacity : 1;
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: hidden;
    opacity : 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
    opacity : 1;
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}
